.NavigationItem {
    margin:  0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    align-items: center;
    padding: 10px;

}

.NavigationItem a {
    color:#4c4c4c;
    text-decoration: none;
    width: 100%;
    font-size: 80%;
    box-sizing: border-box;
    display: block;

}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    color:#194efc;
    border-bottom: 4px solid #194efc;
    
}

@media(min-width: 500px){
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
        
    }
    .NavigationItem a {
        color: #4c4c4c;
        height: 100%;
        padding: 10px 10px;
        border-bottom: 4px solid transparent;
        
    
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active
    {
        color:#194efc;
        border-bottom: 4px solid #194efc;
        
    }
}